/* Large desktops and laptops */

@media (max-width: 1400px) {
    .header__title {
        font-size: 54px;
        line-height: 57px;
    }

    .description {
        gap: 0 56px;
    }

    .shop__title {
        font-size: 100px;
    }
    .promo__text {
        font-size: 32px;
        max-width: 580px;
    }
    .quality__text {
        font-size: 38px;
        padding: 0 34px;
        margin-top: 100px;
    }
    .quality__feature {
        margin-top: 117px;
    }
    .promo__p {
        font-size: 142px;
    }
    .info__text {
        margin-top: 109px;
    }
    .ideas {
        flex: 1;
    }
    .ideas__img {
        width: 49%;
    }
    .inspiration-container {
        flex: 1;
    }
    .inspiration-text__text {
        font-size: 38px;
        max-width: 350px;
        margin-top: 107px;
    }
    .inspiration-text__account-name {
        margin-bottom: 103px;
    }

    .sign-up__p {
        font-size: 10px;
    }
    .navigation-column__title {
        font-size: 13px;
    }
    .navigation-column__list li a{
        font-size: 13px;
    }
}

@media (max-width: 1300px) {
    .header__container {
        margin-right: 50px;
        margin-left: 50px;
    }
}

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    .header__title {
        font-size: 54px;
        line-height: 57px;
    }

    .shop__title {
        font-size: 100px;
    }
    .promo__text {
        font-size: 32px;
        max-width: 580px;
    }
    .quality__text {
        font-size: 38px;
        padding: 0 34px;
        margin-top: 100px;
    }
    .quality__feature {
        margin-top: 117px;
    }
    .promo__p {
        font-size: 142px;
    }
    .info__text {
        margin-top: 109px;
    }
    .ideas {
        flex: 1;
    }
    
    .inspiration-container {
        flex: 1;
    }
    .inspiration-text__text {
        font-size: 38px;
        max-width: 350px;
        margin-top: 107px;
    }
    .inspiration-text__account-name {
        margin-bottom: 103px;
    }

    .sign-up__p {
        font-size: 10px;
    }
    .navigation-column__title {
        font-size: 13px;
    }
    .navigation-column__list li a{
        font-size: 13px;
    }
} 

@media (max-width: 1040px) {
    .description {
        gap: 0 25px;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .header__title {
        font-size: 40px;
        line-height: 44px;
    }
    .header__button {
        margin-bottom: 240px;
    }
    
    .description__numbers {
        font-size: 14px;
    }

    .shop__title {
        font-size: 74px;
        line-height: 82.25px;
        margin-bottom: 50px;
    }
    .paints__card {
        width: calc(100% / 12 * 3 - 30px);
        margin: 0px 15px 37px;
    }
    .promo {
        margin-top: 80px;
    }
    .promo__text {
        font-size: 26px;
        line-height: 32.83px;
        margin-bottom: 76px;
    }
    .quality__text {
        font-size: 38px;
        line-height: 40px;
    }
    .quality__feature {
        font-size: 12px;
        margin-top: 120px;
        margin-bottom: 30px;
    }
    .promo__p {
        font-size: 100px;
        line-height: 120px;
    }
    .info__text {
        margin-top: 82px;
        font-size: 28px;
        line-height: 32px;
        max-width: 260px;
    }
    .button-info {
        margin-top: 37px;
    }
    .inspiration-text__text {
        margin-top: 84px;
        font-size: 34px;
        line-height: 38px;
        max-width: 270px;
    }
    .inspiration-text__account-name {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 65px;
    }
    .inspiration-text__p {
        font-size: 10px;
    }
    .footer-info {
        display: block;
    }
    .sign-up {
        border-bottom: 1px solid rgba(31, 30, 30, 0.1);
    }
    .navigation {
        margin: 0;
    }
    .navigation::before {
        display: none;
    }
    .navigation-menu {
        display: none;
    }
    .navigation__insta {
        margin-left: 0;
    }

    .dropdown-menu {
        display: flex;
    }
}

@media (max-width: 871px) {

    .quality__text {
        font-size: 30px;
        line-height: 36px;
        max-width: 319px;
    }
    .quality__feature {
        font-size: 12px;
        margin-top: 110px;
        margin-bottom: 10px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container {
        max-width: 650px;
    }
    .menu__burger-btn {
        display: block;
    }
    .menu__left {
        display: block;
        position: absolute;
        top: -26px;
        left: -600px;
        min-width: 300px;
        background: rgba(255, 255, 255, 1);
        padding: 100px 50px 20px 50px;
        transition: transform .5s;
    }

    .menu__left a {
        color: rgb(66, 94, 68);
        font-weight: 500;
    }

    /* 100% чтобы при open объект выдвигался обратно на 100% */
    .header__menu.open .menu__left {
        transform: translateX(200%);
    }

    .menu__link {
        display: block;
        font-size: 21px;
        line-height: 24px;
        padding: 10px 0;
    }

    .header__title {
        font-size: 32px;
        line-height: 38px;
    }
    .header__button {
        margin-bottom: 159px;
    }

    .shop__title {
        font-size: 58px;
        line-height: 60px;
    }
    .paints__card {
        width: calc(100% / 12 * 6 - 30px);
        margin: 0px 4px 27px;
    }
    .promo {
        text-align: center;
    }
    .promo__title {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .promo__text {
        margin-bottom: 52px;
        font-size: 20px;
        line-height: 26px;
    }
    .interior {
        flex-direction: column;
    }
    .quality {
        width: 100%;
    }
    .quality__text {
        margin-top: 80px;
    }
    .quality__feature {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .promo__p {
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 25px;
    }
    .promo__characteristics {
        font-size: 15px;
        line-height: 20px;
    }
    .samples {
        flex-direction: column;
        gap: 10px 0px;
        margin-bottom: 130px;
    }
    .info__text {
        margin-top: 62px;
    }
    .button-info {
        margin-bottom: 30px;
    }
    .design__photo {
        width: 100%;
    }
    .photo__img {
        width: 100%;
    }
    .inspiration {
        flex-direction: column;
    }
    .inspiration-container {
        padding-bottom: 10px;
    }
}

@media (max-width: 610px) {
    .menu {
        margin-bottom: 15px;
    }
    .header__button {
        margin-bottom: 100px;
    }
    .samples {
        margin-bottom: 80px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .header__title {
        font-size: 24px;
        line-height: 28px;
    }
    .header__button {
        margin-bottom: 50px;
        padding: 15px 30px;
    }
    .shop__title {
        font-size: 48px;
        line-height: 54px;
    }

    .quality__text,
    .info__text,
    .inspiration-text__text {
        font-size: 22px;
        margin-top: 50px;
    }
    .quality__feature {
        font-size: 8px;
        margin-top: 30px;
    }
    .inspiration-text__p {
        font-size: 8px;
        line-height: 10px;
    }

    .promo__text {
        font-size: 16px;
        line-height: 20px;
    }

    .promo__p {
        font-size: 50px;
        line-height: 60px;
    }
    .promo__characteristics {
        font-size: 14px;
        line-height: 16px;
    }
    .sign-up__text {
        font-size: 26px;
        line-height: 30px;
    }
    .sign-up__p {
        font-size: 8px;
    }
    .sign-up__input {
        width: 208px;
    }
    .sign-up__field::before {
        left: 173px;
    }
}

@media (max-width: 385px) {
    .menu__right {
        font-size: 14px;
        gap: 0 10px;
    }
    .shop__title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .paints__name {
        font-size: 8px;
    }
    .paints__sold-out {
        font-size: 12px;
    }
    .promo__text {
        font-size: 13px;
    }
    .quality__text,
    .info__text,
    .inspiration-text__text {
        font-size: 18px;
        margin-top: 40px;
    }

}